# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.RData
*.Rhistory
.Rproj.user/21E0A21A/console06/INDEX001
*.xml
*.pper
.Rproj.user/21E0A21A/saved_source_markers
*.gdbtable
*.gdbtablx
*.atx
*.gdbindexes
*.freelist
*.spx
*.dat
*.cfs
*.adf
.Rproj.user/21E0A21A/sources/per/t/57721E4A
*.lock
GeoSettings.gdb/gdb
*.txt
*.nit
*.jpg
*.tbx
*.aprx
*.tif
*.tfw
*.ovr
*.pdf
*.docx
*.Rproj

*.ini
